extends ../../layouts/default.pug
include ../../mixins/mixin.filterStatus.pug
include ../../mixins/mixin.search.pug
include ../../mixins/mixin.pagination.pug

block content
  h1 Quản lý Sản phẩm

  .card.mb-3 
    .card-header Lọc-Tìm kiếm 
    .card-body 
      .row
        .col-6
          +filterStatus(filterStatus)
        .col-6 
          +search(keyword)


  table.table.table-striped.mt-4
    thead
      tr
        th STT
        th Title
        th Img
        th Price
        th Status
        th Hành động
    tbody
      //- Duyệt qua mảng products được truyền từ backend
      each product, index in products
        tr
          td #{index + 1}
          td #{product.title}
          td 
            img(src=product.thumbnail, alt=product.title, width="40")
          td #{product.priceNew} VNĐ
          td 
            //- Nếu trạng thái là "active" thì badge màu xanh
            span.badge(class=product.status === 'active' ? 'badge-primary' : 'badge-danger') #{product.status}
          td 
            a.btn.btn-sm.btn-warning(href=`/admin/products/edit/${product.id}`) Sửa
            a.btn.btn-sm.btn-danger.ml-2(href=`/admin/products/delete/${product.id}` onclick="return confirm('Bạn có chắc chắn muốn xóa sản phẩm này không?')") Xóa

  //- toàn bộ code của phần phân trang đc xử lý trong hàm này
  +pagination(pagigation) 